<!DOCTYPE html>
<html>
<head>
	<title>SSPEM-LAB. DESARROLLO SOFTWARE</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/cosmo.css">
	<meta charset="utf-8">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">SSPEM-LAB. DESARROLLO SOFTWARE</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Mi cuenta</a></li>
        <li><a href="#">Cerrar Sesión</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Gestion de Prestamos</h1>
			
				<div class="col-md-2">
					<label> Nombre </label>
				</div>
				<div class="col-md-1">
					<label> Equipos </label>
				</div>
				<div class="col-md-2">
					<label> Area </label>
				</div>
				<div class="col-md-2">
					<label> Fecha de prestamo </label>
				</div>
				<div class="col-md-3">
					<label> Fecha de devolución </label>
				</div> 
				<div class="col-md-2">
					<label> Opciones </label>
				</div>
				<hr>
				<div class="col-md-12">		
					<div class="col-md-2">
						<p>Jesus Perez</p>
					</div>
					<div class="col-md-1">
						<p> A, B, C </p>
					</div>
					<div class="col-md-2">
						<p> N/A </p>
					</div>
					<div class="col-md-2">
						<p> 12/10/2017 </p>
					</div>
					<div class="col-md-3">
						<p> 15/10/2017 </p>
					</div>
					<div class="col-md-2">
						<p>&nbsp; A | D </p> 
							
					</div>	
				</div>
				<div class="col-md-12">		
					<div class="col-md-2">
						<p>Jesus Perez</p>
					</div>
					<div class="col-md-1">
						<p> A, B, C </p>
					</div>
					<div class="col-md-2">
						<p> N/A </p>
					</div>
					<div class="col-md-2">
						<p> 12/10/2017 </p>
					</div>
					<div class="col-md-3">
						<p> 15/10/2017 </p>
					</div>
					<div class="col-md-2">
						<p>&nbsp; A | D </p> 
							
					</div>	
				</div>
				<div class="col-md-12">		
					<div class="col-md-2">
						<p>Jesus Perez</p>
					</div>
					<div class="col-md-1">
						<p> A, B, C </p>
					</div>
					<div class="col-md-2">
						<p> N/A </p>
					</div>
					<div class="col-md-2">
						<p> 12/10/2017 </p>
					</div>
					<div class="col-md-3">
						<p> 15/10/2017 </p>
					</div>
					<div class="col-md-2">
						<p>&nbsp; A | D </p> 
							
					</div>	
				</div>
		</div>	
	</div>
	<div class="row">
		<div class="col-md-6">
			<hr>
				<h2>Equipos multimedia disponible</h2>
				<p> Equipo A: N </p>
				<p> Equipo B: N </p>
				<p> Equipo C: N </p>
				<p> Equipo D: N </p>
				<br>
				
				<hr>
				<h2>Areas multimedia </h2>
				<p> Área 1 Disponible </p>
				<p> Área 2 No Disponible </p>
				<p> Área 3 Disponible </p>
				<br>	
		</div>
		<div class="col-md-6">
			<h2>Gestion de Inventario</h2><br>
			<form action="">
				<div class="row">
					<div class="form-group">
						<div class="col-md-6">
							<label class="control-label" for="equipoA">Equipo A</label>
							<input class="form-control" type="text" name="equipoA" placeholder="Cantidad">
						</div>
						<div class="col-md-6">	
							<button class="btn btn-success btn-block">Agregar</button>
							<button class="btn btn-success btn-block">Eliminar</button>
						</div>
					</div>
				</div><br>
				<div class="row">
					<div class="form-group">
						<div class="col-md-6">
							<label class="control-label" for="equipoB">Equipo B</label>
							<input class="form-control" type="text" name="equipoB" placeholder="Cantidad">
						</div>
						<div class="col-md-6">	
							<button class="btn btn-success btn-block">Agregar</button>
							<button class="btn btn-success btn-block">Eliminar</button>
						</div>
					</div>
				</div><br>
				<div class="row">
					<div class="form-group">
						<div class="col-md-6">
							<label class="control-label" for="equipoC">Equipo C</label>
							<input class="form-control" type="text" name="equipoC" placeholder="Cantidad">
						</div>
						<div class="col-md-6">	
							<button class="btn btn-success btn-block">Agregar</button>
							<button class="btn btn-success btn-block">Eliminar</button>
						</div>
					</div>	
				</div><br>
				<div class="row">
					<div class="form-group">
						<div class="col-md-6">
							<label class="control-label" for="equipoD">Equipo D</label>
							<input class="form-control" type="text" name="equipoD" placeholder="Cantidad">
						</div>
						<div class="col-md-6">	
							<button class="btn btn-success btn-block">Agregar</button>
							<button class="btn btn-success btn-block">Eliminar</button>
						</div>
					</div>	
				</div><br>
			</form>	
		</div>
	</div>
</div>	
</body>
</html>