<!DOCTYPE html>
<html>
<head>
	<title>SSPEM-LAB. DESARROLLO SOFTWARE</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/cosmo.css">
	<meta charset="utf-8">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">SSPEM-LAB. DESARROLLO SOFTWARE</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Mi cuenta</a></li>
        <li><a href="#">Cerrar Sesión</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h1>Solicitar reservación</h1>
			<form>
				<div class="row">
					<div class="col-md-6">
						<label for="fecha_prestamo">Fecha del préstamo</label>
						<input class="form-control" type="date" name="fecha_prestamo">
					</div>
					<div class="col-md-6">
						<label for="fecha_devolucion">Fecha de devolución</label>
						<input class="form-control" type="date" name="fecha_devolucion">
					</div>
				</div>
				<hr>
				<h2>Equipos multimedia</h2>
				<input type="checkbox" name="equipo_a" disabled> Equipo A
				<input type="checkbox" name="equipo_b"> Equipo B
				<input type="checkbox" name="equipo_c"> Equipo C
				<input type="checkbox" name="equipo_d"> Equipo D
				<br>

				<hr>				
				<h2>Áreas multimedia</h2>
				<select class="form-control" name="areas_multimedia" id="areas_multimedia">
					<option>N/A</option>
					<option>Área 1</option>
					<option>Área 2</option>
					<option>Área 3</option>
				</select>
				<br>
				<button class="btn btn-success btn-block">Reservar</button>


			</form>
		</div>
		<div class="col-md-6">
			<h2></h2>
		</div>
	</div>
</div>
</body>
</html>